@import '../../../styles';
.row {
  i {

  }
  .col-sm-6 {
    height: 3rem;
    .form-group {
      position: relative;
      .search-icon {
        position: absolute;
        right: 0.7em;
        top: 50%;
        opacity: 0.3;
        transform: translateY(-50%);
      }
      .form-control {
        &:not(select) {
          padding-right: 2.5em;
        }
      }
      .col-form-label {
        display: flex;
        align-items: center;
        select {
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
      }
    }
    .btn-info {
      height: calc(1.5em + 0.75rem);
    }
  }
  margin: 1rem 0px;
  .form-control-sm {
    padding: 0.2rem 0.3rem;
    background-color: aliceblue;
  }
  .text-small {
    font-size: 12.8px;
  }
}
.pagination-container {
  overflow-x: auto;
}
table{
  table-layout: auto;
  thead{
    th {
      //border-bottom: 1px solid lightblue!important;
      //border-bottom-width: 2px!important;
      position: relative;
      word-wrap: break-word;
      .sort-icon {
        position: absolute;
        right: 0;
      }
    }
  }
  td {
    word-wrap: break-word;
    .delete {
      color: #cc2127;
    }
    .edit {
      color: #1da1f2;
    }
    .reset {
      color: #424964;
    }
    .delete, .edit, .reset {
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
  .btn {
    border: none;
  }
}
.pagination {
  .active {
    background-color: blue;
    color: white;
  }
}
