<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img alt="Full logo" src="assets/images/logo/voting-logo.png">
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img alt="Mini logo" src="assets/images/logo/voting-mini.png">
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <ul class="navbar-nav navbar-nav-right">
      <!--Display with small screen and bigger-->
      <li *ngIf="currentUserProfile" class="nav-item nav-profile dropdown" ngbDropdown>
        <a id="userDropdown" title="Click to show menu" class="nav-link dropdown-toggle" ngbDropdownToggle>
          <div class="nav-profile-img">
              <img class="img-xs rounded-circle" [src]="currentUserProfile.ava_url?'http://localhost:4000/' + currentUserProfile.ava_url:'src/imgs/default-avatar.png'">
              <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-white">
                {{
                  currentUserProfile.first_name.toUpperCase() == 'ADMIN' || currentUserProfile.last_name.toUpperCase() == 'ADMIN' || currentUserProfile.english_name.toUpperCase() == 'ADMIN'? 'Admin':
                    currentUserProfile.first_name + ' (' + currentUserProfile.english_name + ') ' + currentUserProfile.last_name
                 }}
            </p>
          </div>
          <div ngbDropdownMenu placement="bottom-right" class="dropdown-menu navbar-dropdown" aria-labelledby="userDropdown">
            <a class="dropdown-item" (click)="openUploadingAvatarModal()">
             <i class="fas fa-camera mr-2 text-primary"></i>Upload avatar
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="openChangingPasswordModal()">
              <i class="fas fa-key mr-2 text-primary"></i>Change password
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">
              <i class="fas fa-sign-out-alt mr-2 text-primary"></i>Log out
            </a>
          </div>
        </a>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" (click)="toggleOffcanvas()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>
