.banner {
  background-color: #9068be;
  padding: 0.4rem 1.81rem;
  color: #f2f2f2;
  margin-top: 20px;
  a {
    color: #f2f2f2;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
  border-bottom: 2px outset white;
  cursor: pointer;
}
