.card-header {
  background-color: #00aeef;
  border-bottom: 1px solid #e7f3fc;
  padding: 0.5rem 1rem;

  h6 {
    color: white;
  }
}
.card-body {
  .btn-container-center {
    text-align: center;
  }
}
