<div class="modal-header justify-content-center">
  <h3 class="text-center display-4">Login</h3>
</div>
<div class="modal-body">
  <form (ngSubmit)="loginWithUserAndPass()" [formGroup]="loginForm">
    <div class="form-group">
      <label class="col-form-label">Username</label>
        <input type="text" formControlName="username" class="form-control">
        <!--Input validation, note: touched - after user click on the input the first time  -->
        <small class="text-small text-danger" *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].errors?.required">
          Username is required
        </small>
    </div>
      <div class="form-group">
        <label class="col-form-label">Password</label>
        <input type="password" formControlName="password" class="form-control">
        <small class="text-small text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.required">
            Password is required
        </small>
      </div>
    <div class="d-flex justify-content-center flex-wrap">
      <button [disabled]="loginForm.invalid" (keydown.enter)="loginWithUserAndPass()" type="submit" class="btn btn-success btn-rounded">Login</button>
    </div>
  </form>
</div>
