<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12 d-flex justify-content-center justify-content-md-end">
            <div class="form-group d-inline-block">
              <button routerLink="../add-new" *ngIf="isAdmin" class="btn btn-primary btn-rounded"><i class="fas fa-plus"></i>New</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div *ngFor="let survey of surveyList" class="card survey">
              <div class="card-body shadow banner">
                <strong>{{survey?.survey_name}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
