.card {
  .card-body {
    .col-sm-5 {
      //
      .shortcut-list {
        margin-top: 10px;
        width: 100%;
        border: 1px solid  #f9e2e2;
        .card-header {
          padding: 10px;
          .card-title{
            margin: 0!important;
            font-size: 15px;
          }
        }
        .card-body {
          padding: 0;
          .award-list {
            list-style: none;
            margin: 0;
            padding: 0;
            >.item {
              position: relative;
              padding: 10px;
              box-shadow: none;
              -webkit-box-shadow: none;
              border-bottom: 1px solid #f4f4f4;
              .pull-right-container {
                position: absolute;
                right: 10px;
                @media (max-width: 511px) {
                  top: 30%;
                }
              }
            }
          }
        }
      }
      //
    }
  }
}
