<div class="card shadow">
  <div class="card-header">
    <h3>DASHBOARD</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-5 col-xl-3">
        <div class="card shortcut-list">
          <div class="card-header">
            <h4 class="card-title">Lastest finishes</h4>
          </div>
          <div class="card-body">
            <ul class="award-list">
              <li *ngFor="let finishedAward of finishedAwardList" class="item">
                <a>
                  <span class="badge-info">{{finishedAward.year}}</span>
                  <span class="award-title">{{finishedAward.awardType.name}}</span>
                  <span class="pull-right-container">
                  <i class="fas fa-chevron-down"></i>
                </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card shortcut-list">
          <div class="card-header">
            <h4 class="card-title">Upcoming</h4>
          </div>
          <div class="card-body"></div>
        </div>
      </div>
      <div class="col-sm-7 col-xl-9 align-items-center">
        <canvas *ngIf="percentList" baseChart
                [data]="percentList"
                [labels]="nomineeNameList"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</div>
