<div class="grid-margin">
  <div class="card">
    <div class="card-body">
      <h3>Edit personal profile</h3>
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label-lg">
                Employee Name
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-lg">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label-lg">
                Email
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-lg">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label-lg">
                Phone
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-lg">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label-lg">
                Address
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-lg">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label-lg">
                Team
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-lg">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label-lg">
                Direct Manager
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-lg">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label-lg">
                Other
              </label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-lg">
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center flex-wrap">
        <button class="btn btn-warning mr-md-4 ml-md-0 m-sm-2">Edit</button>
        <button class="btn btn-info ml-md-4 mr-md-0 m-sm-2">Save</button>
      </div>
    </div>
  </div>
</div>
