.row {
  .card-body {
    background-color:  #f2f2f2;
    border-radius: 7px;
  }
  .award-list-container {
    @media only screen and (max-width: 1366px) and (min-width: 768px) {
      max-height: 450px;
    }
    @media only screen and (min-width: 1367px) and (max-width: 1600px) {
      max-width: 600px;
    }
  }
}
.btn {
  &:hover {
    i {
      color: #404852;
    }
  }
}

