.card-header {
  border-bottom: none;
  .row {
    .col-12 {
      .card-description {
        font-style: italic;
        @media (min-width: 576px) {
          margin-left: 2.8rem;
        }
      }
    }
  }
}
.card-body {
  .col-sm-6 {
    .form-group {
      &.search-container {
        position: relative;
        .search-bar {
          padding-right: 2.5em;
        }
        i {
          position: absolute;
          right: 0.7em;
          opacity: 0.3;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .form-control {
        &.form-control-sm {
          padding: 0.2rem 0.3rem;
          background-color: aliceblue;
        }
      }
      .col-form-label {
        display: flex;
        align-items: center;
        .form-control-sm {
          margin-right: 0.5em;
          margin-left: 0.5em;
        }
      }
    }
  }
  small {
    font-size: 0.8em;
  }
}
table{
  table-layout: auto;
  thead{
    th {
      //border-bottom: 1px solid lightblue!important;
      //border-bottom-width: 2px!important;
      position: relative;
      word-wrap: break-word;
      .sort-icon {
        position: absolute;
        right: 0;
      }
    }
  }
  td {
    word-wrap: break-word;
  }
  .btn {
    border: none;
  }
}
.pagination {
  .active {
    background-color: blue;
    color: white;
  }
}
