<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addSurvey">
          <div class="row">
            <div class="col-12">
              <div class="form-group survey-title">
                <input type="text" placeholder="Enter the title" class="form-control" formControlName="survey_title">
              </div>
            </div>
          </div>
          <div formArrayName="questions" *ngFor="let question of addSurvey.get('questions').controls; index as questionIndex"  class="row mt-5 question">
            <div [formGroupName]="questionIndex" class="col-12">
              <div class="form-group row">
                <label class="col-form-label col-1 d-flex justify-content-end font-weight-bold">{{questionIndex+1}}.</label>
                <div class="col-11">
                  <input type="text" placeholder="Question" class="form-control" formControlName="question_title">
                </div>
              </div>
              <div formArrayName="answers" class="col-12 pl-5">
                <div [formGroupName]="answerIndex" *ngFor="let answer of answersControls(question); index as answerIndex" class="form-group row">
                  <label class="col-1 col-form-label"></label>
                  <div class="col-11 pr-0">
                    <input type="text" [value]="'Option ' + (answerIndex + 1)" class="form-control" formControlName="answer_title">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3 pl-5">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-11 option-bar">
                  <button (click)="addOption(question)" class=" btn-add-option"><i class="fas fa-plus"></i> New option</button>
                  <div style="border-bottom: 1px solid gray"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 d-flex justify-content-sm-start justify-content-center">
              <button (click)="addQuestion()" type="button" class="btn btn-primary btn-rounded"><i class="fas fa-plus"></i> New question</button>
            </div>
          </div>
          <!--Submit button-->
          <div *ngIf="addSurvey.valid" class="row mt-5">
            <div class="col-12 d-flex justify-content-center">
              <button type="submit" class="btn btn-outline-primary btn-rounded">Create survey</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
