.row {
  .col-12 {
    .survey-title {
      input {
        font-size: 2rem;
        border: none;
        border-bottom: 1px solid gray;
      }
    }
  }
  &.question {
    .option-bar {
      .btn-add-option {
        color: #308ee0;
        border: none;
        background-color: transparent!important;
        padding: 0;
        font-size: 0.8em;
      }
    }
  }
}
