<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
      <i class="fas fa-chart-line menu-icon"></i>
      <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li *ngIf="showEmployeeOptions" class="nav-item">
      <a class="nav-link" routerLink="personal-info" routerLinkActive="active">
      <i class="fas fa-id-card menu-icon"></i>
        <span class="menu-title">Personal Information</span>
      </a>
    </li>
    <li *ngIf="showEmployeeOptions" class="nav-item">
      <a class="nav-link" routerLink="vote" routerLinkActive="active">
      <i class="fas fa-vote-yea menu-icon"></i>
        <span class="menu-title">Voting</span>
      </a>
    </li>
    <li *ngIf="userLoaded" class="nav-item">
      <a class="nav-link" routerLink="users" routerLinkActive="active">
       <i class="fas fa-users menu-icon"></i>
        <span class="menu-title">{{showEmployeeOptions ? 'User List' : 'User Management'}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="awards" routerLinkActive="active">
      <i class="fas fa-trophy menu-icon"></i>
        <span class="menu-title">Awards</span>
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" routerLink="surveys" routerLinkActive="active">
        <i class="fas fa-poll-h menu-icon"></i>
        <span class="menu-title">Surveys</span>
      </a>
    </li>-->
  </ul>
</nav>
