<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
      <span class="menu-title">Dashboard</span>
       <i class="fas fa-chart-line menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isEmployeeOrManager" class="nav-item">
      <a class="nav-link" routerLink="personal-info" routerLinkActive="active">
        <span class="menu-title">Personal Information</span>
       <i class="fas fa-id-card menu-icon"></i>
      </a>
    </li>
    <li *ngIf="isEmployeeOrManager" class="nav-item">
      <a class="nav-link" routerLink="vote" routerLinkActive="active">
        <span class="menu-title">Voting</span>
        <i class="fas fa-vote-yea menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="employee-management" routerLinkActive="active">
        <span class="menu-title">Employee Management</span>
        <i class="fas fa-users menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="award-list" routerLinkActive="active">
        <span class="menu-title">Awards</span>
        <i class="fas fa-trophy menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
