<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="data-tracking" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="personal-info" routerLinkActive="active">
        <i class="menu-icon mdi mdi-information-outline"></i>
        <span class="menu-title">Personal Information</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="vote" routerLinkActive="active">
        <i class="menu-icon mdi mdi-checkbox-marked-outline" routerLinkActive="active"></i>
        <span class="menu-title">Voting</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="employee-list" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-list-numbers"></i>
        <span class="menu-title">Employee list</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active">
        <i class="menu-icon mdi mdi-trophy-outline"></i>
        <span class="menu-title">Awards</span>
      </a>
    </li>
  </ul>
</nav>
