<div class="modal-header justify-content-center">
  <h4 class="display-4">Add an award</h4>
</div>
<div class="modal-body">
  <form (ngSubmit)="createNewAward()" [formGroup]="addAward">
    <div class="row">
      <div class="col-md-6 flex-md-row flex-column">
        <div class="form-group">
          <label class="col-form-label">Name</label>
          <select formControlName="type" class="form-control">
            <option hidden>Award name</option>
            <option *ngFor="let type of types" [ngValue]="type?.id">{{type?.name}}</option>
            <option [ngValue]="null">Other</option>
          </select>
        </div>
        <div class="form-group" *ngIf="addAward.controls['type'].value === null">
          <label class="col-form-label">Other name</label>
          <input formControlName="name" type="text" class="form-control">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-form-label">Year</label>
          <select formControlName="year" class="form-control">
            <option hidden>Year</option>
            <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-form-label">Start day</label>
          <div class="input-group">
            <input class="form-control"
                   (change)="changeDateEndLimit()"
                   (dateSelect)="changeDateEndLimit()"
                   formControlName="date_start"
                   [minDate]="dateStartMin"
                   [maxDate]="dateStartMax"
                   placeholder="yyyy-mm-dd"
                   ngbDatepicker
                   #datePickerStart = "ngbDatepicker">
            <div class="input-group-append">
              <button title="Click to select date" class="input-group-text" type="button" (click)="datePickerStart.toggle()">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-form-label">End date</label>
          <div class="input-group">
            <input class="form-control"
                   formControlName="date_end"
                   [minDate]="dateEndMin"
                   [maxDate]="dateEndMax"
                   placeholder="yyyy-mm-dd"
                   ngbDatepicker
                   #datePickerEnd = "ngbDatepicker">
            <div class="input-group-append">
              <button title="Click to select date" class="input-group-text" type="button" (click)="datePickerEnd.toggle()">
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-form-label">Total prize (in cash)</label>
          <input type="text" class="form-control" formControlName="prize">
        </div>
        <div class="form-group">
          <label class="col-form-label">Who can be nominated?</label>
          <ng-select
            formControlName="id_nominee"
            [items]="nomineesList"
            bindLabel="english_name"
            [multiple]="true"
            [hideSelected]="true"
            groupBy="team_name"
            bindValue="id"
            dropdownPosition="bottom"
            [closeOnSelect]="false"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-form-label">Item</label>
          <input formControlName="item" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label class="col-form-label">Who can vote?</label>
          <select formControlName="id_role_voter" class="form-control">
            <option hidden>Who?</option>
            <option [ngValue]="[2]">Manager</option>
            <option [ngValue]="[2,3]">All employees</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="col-form-label">Description</label>
          <textarea class="form-control" rows="5" formControlName="description"></textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
      <button type="submit" [disabled]="addAward.invalid" class="btn btn-primary btn-rounded m-sm-3 m-1">CREATE</button>
      <button class="btn btn-outline-primary btn-rounded m-sm-3 m-1" (click)="activeModal.dismiss('Called off creating award!')">CANCEL</button>
    </div>
  </form>
</div>

