<div class="card">
  <div class="card-header">
    <h3>VOTING</h3>
  </div>
  <div class="card-body">
    <div class="voting-custom">
      <form (ngSubmit)="sendVotingElection()" [formGroup]="voting">
        <div class="row">
          <div class="col-12">
            <div class="card shadow">
              <div class= "card-header">
                <strong class="card-title">Award</strong>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="col-form-label">Choose an award:</label>
                      <select formControlName="id" (change)="loadNomineesCorresponding(voting.controls['id'].value)" class="form-control">
                          <option *ngFor="let award of listAwards" [ngValue]="award?.id">
                            {{award?.awardType?.name}}
                          </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div *ngIf="voting.controls['id'].value" class="col-md-4">
            <div class="card shadow">
              <div class="card-header">
                <h6 class="card-title">First place</h6>
              </div>
              <div class="card-body">
                <div *ngIf="!voting.controls['id'].value" class="row">
                  <div class="col-12">
                    <p class="text-danger">Please choose the nominee for first place</p>
                  </div>
                </div>
                <div *ngIf="voting.controls['id'].value" class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="col-form-label">Choose a nominee:</label>
                      <select formControlName="first_vote" class="form-control">
                        <option *ngFor="let nominee of listNominees" [ngValue]="nominee?.id_nominee">
                          {{nominee?.nominee_name_1?.english_name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="formControls['first_vote'].value" class="col-12 d-flex justify-content-center">
                    <div class="rounded img-thumbnail nominee-avatar">
                      <img class="img-fluid" [src]="serverURL + getNomineeAvaUrl(formControls['first_vote'].value)" alt="Avatar">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="voting.controls['first_vote'].value" class="col-md-4">
            <div class="card shadow">
              <div class="card-header">
                <h6 class="card-title">Second place</h6>
              </div>
              <div class="card-body">
                <div *ngIf="!voting.controls['first_vote'].value" class="row">
                  <div class="col-12">
                    <p class="text-danger">Please choose the nominee for second place</p>
                  </div>
                </div>
                <div *ngIf="voting.controls['first_vote'].value" class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="col-form-label">Choose a nominee:</label>
                      <select formControlName="second_vote" class="form-control">
                        <option *ngFor="let nominee of listNominees" [ngValue]="nominee?.id_nominee">
                          {{nominee?.nominee_name_1?.english_name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="formControls['second_vote'].value" class="col-12 d-flex justify-content-center">
                    <div class="rounded img-thumbnail nominee-avatar">
                      <img class="img-fluid" [src]="serverURL + getNomineeAvaUrl(formControls['second_vote'].value)" alt="Avatar">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="voting.controls['second_vote'].value" class="col-md-4">
            <div class="card shadow">
              <div class="card-header">
                <h6 class="card-title">Third place</h6>
              </div>
              <div class="card-body">
                <div *ngIf="!voting.controls['second_vote'].value" class="row">
                  <div class="col-12">
                    <p class="text-danger">Please choose the nominee for third place</p>
                  </div>
                </div>
                <div *ngIf="voting.controls['second_vote'].value" class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="col-form-label">Choose a nominee:</label>
                      <select formControlName="third_vote" class="form-control">
                        <option *ngFor="let nominee of listNominees" [ngValue]="nominee?.id_nominee">
                          {{nominee?.nominee_name_1?.english_name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div *ngIf="formControls['third_vote'].value" class="col-12 d-flex justify-content-center">
                    <div class="rounded img-thumbnail nominee-avatar">
                      <img class="img-fluid" [src]="serverURL + getNomineeAvaUrl(formControls['third_vote'].value)" alt="Avatar">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-center flex-wrap">
          <button [disabled]="voting.invalid" type="submit" class="btn btn-success btn-rounded m-2">Vote</button>
          <button (click)="resetAllSelections()" type="button" class="btn btn-outline-success btn-rounded m-2">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
