<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-user" routerLinkActive="active">
        <i class="menu-icon mdi mdi-desktop-mac"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-information-outline"></i>
        <span class="menu-title">Personal Information</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="menu-icon mdi mdi-checkbox-marked-outline"></i>
        <span class="menu-title">Voting</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employee-list" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-list-numbers"></i>
        <span class="menu-title">Employee list</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/progressbar" routerLinkActive="active">
        <i class="menu-icon mdi mdi-trophy-outline"></i>
        <span class="menu-title">Awards</span>
      </a>
    </li>
  </ul>
</nav>
