$border-color: #ced4da;
$input-font-size: 0.75rem;
$input-padding-y: 0.56rem;
$btn-padding-y: 0.56rem;
.input-group-text {
  border:none;
}
.ng-select {
  font-size: $input-font-size;
  .ng-select-container {
    border: 1px solid $border-color;
    border-radius: 2px;
  }
}

