<div class="modal-header">
  <h6 class="modal-title">Upload avatar</h6>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Uploading form was called off!')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <p>{{description ? description : 'Current avatar'}}</p>
    </div>
    <div class="col-12">
      <form (ngSubmit)="onSubmit()" [formGroup]="uploadAvatar">
        <div class="row">
          <div *ngIf="tempDisplaying" class="col-12 image-container d-flex justify-content-center">
            <img class="img-thumbnail" [src]="tempDisplaying" alt="Avatar image">
          </div>
          <div class="col-12 justify-content-center d-flex m-2">
            <input (change)="onFileChange($event)" id="gettingFileInput" accept="image/jpeg, image/png" type="file" class="d-none">
            <button type="button" class="btn btn-danger btn-rounded" *ngIf="!uploadAvatar.controls['file'].value" (click)="selectFile()">Upload new avatar</button>
          </div>
          <!--If there was an image uploaded, show these buttons and hide button 'Upload new avatar'-->
          <div *ngIf="uploadAvatar.controls['file'].value" class="col-12 flex-wrap justify-content-center d-flex m-2">
            <button type="submit" [disabled]="uploadAvatar.invalid" class="btn btn-rounded btn-danger m-2">Upload</button>
            <button type="button" class="btn btn-rounded btn-outline-danger m-2" (click)="selectFile()">Select other</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
