
<div class="card shadow">
  <div class="card-header">
        <strong>EMPLOYEE LIST</strong>
  </div>
      <div class="card-body">
        <div class="row clearfix">
          <div class="col-sm-6 p-0">
            <div class="row d-flex justify-content-sm-start">
              <div class="form-group pb-3 pt-3 m-0">
                <label class="col-form-label">
                  Show
                  <select class="form-control-sm" (change)="onChangeItemsPerPage()" [(ngModel)]="currentPageSize">
                    <option *ngFor="let itemsPerPage of itemsPerPageArr" [value]="itemsPerPage" >{{itemsPerPage}}</option>
                  </select>
                  entries
                </label>
              </div>
            </div>

          </div>
          <div class="col-sm-6 p-0">
            <div class="row d-flex justify-content-sm-end">
              <div class="p-3">
                <button class="btn pl-1 pr-1" (click)="openCreatingModal()" title="Create new user"><i class="fas fa-user-plus"></i></button>
              </div>
              <div class="form-group pl-3 pb-3 pt-3 m-0">
                <input type="text" id="search" class="form-control" (keyup)="searchOnText()" [(ngModel)]="currentSearchText" placeholder="Search...">
              </div>
            </div>
          </div>
        </div>

<!--        table-->
        <div class="row">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead style="background-color: mediumpurple; color: #ffffff;">
                <tr>
                  <th (click)="sortOnColumn('first_name','user')" class="hand-cursor" scope="col" title="Click column's name to change sort direction">Name
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'first_name')" [ngClass]="currentSortedType == 'ASC'?'fas fa-arrow-up':'fas fa-arrow-down'"></i>  <!--Change icon by sort direction-->
                  </th>
                  <th (click)="sortOnColumn('name','role')" class="hand-cursor" title="Click column's name to change sort direction" scope="col">Position
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'name')||!(currentSortedTable == 'role')" [ngClass]="currentSortedType == 'ASC'?'fas fa-arrow-up':'fas fa-arrow-down'"></i>  <!--Change icon-->
                  </th>
                  <th (click)="sortOnColumn('name','team')" class="hand-cursor" title="Click column's name to change sort direction"  class="text-center" align="center" scope="col">Team
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'name')||!(currentSortedTable == 'team')" [ngClass]="currentSortedType == 'ASC'?'fas fa-arrow-up':'fas fa-arrow-down'"></i>  <!--Change icon-->
                  </th>
                  <th (click)="sortOnColumn('email','user')" class="hand-cursor" title="Click column's name to change sort direction" scope="col">Email address
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'email')" [ngClass]="currentSortedType == 'ASC'?'fas fa-arrow-up':'fas fa-arrow-down'"></i>  <!--Change icon-->
                  </th>
                  <th (click)="sortOnColumn('english_name','user')" class="hand-cursor" title="Click column's name to change sort direction" class="text-center" align="center" scope="col">English name
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'english_name')" [ngClass]="currentSortedType == 'ASC'?'fas fa-arrow-up':'fas fa-arrow-down'"></i>  <!--Change icon-->
                  </th>
                  <th class="text-center" align="center" scope="col">Tool</th>
                </tr>
                </thead>
                <tbody *ngIf="!error"> <!--There's result from search operator-->
                <tr *ngFor="let user of usersList">
                  <td *ngIf="user?.first_name?.toUpperCase() === 'ADMIN'">Admin</td>
                  <td *ngIf="user?.first_name?.toUpperCase() !== 'ADMIN'">{{user.first_name}} ({{user.english_name}}) {{user.last_name|uppercase}}</td>
                  <td  >{{user.role?.name}}</td>
                  <td align="center">{{user.team?.name}}</td>
                  <td>{{user.email}}</td>
                  <td align="center">{{user.english_name}}</td>
                  <td align="center">
                    <a (click)="openEditingModal(user.id)" title="Edit this user" class="btn edit"><i class="fas fa-user-edit"></i></a>
                    <a (click)="deleteUser(user.id)" title="Delete this user" class="btn delete"><i class="fas fa-trash"></i></a>
                    <a title="Reset password" class="btn reset"><i class="fas fa-undo"></i></a>
                  </td>
                </tr>
                </tbody>
                <tfoot *ngIf="error">
                <!--If search result is empty-->
                <h4 class="text-danger">No result matched</h4>
                </tfoot>
              </table>
            </div>
          </div>
        <!--Pagination -->
        <div *ngIf="!error" class="row">
          <div class="col-sm-6 d-flex justify-content-sm-start p-0">
            <p class="text-small" *ngIf="currentRecords > currentPageSize">Showing 1 to {{currentPageSize}} of {{currentRecords}}
              <span *ngIf="totalRecords == currentRecords"> total entries</span>
              <span *ngIf="totalRecords>currentRecords"> entries (filtered from {{totalRecords}} total entries)</span>
          </p>
            <p class="text-small" *ngIf="currentRecords <= currentPageSize">Showing {{currentRecords}} of {{currentRecords}}
              <span *ngIf="totalRecords == currentRecords"> total entries</span>
              <span *ngIf="totalRecords>currentRecords"> (filtered from {{totalRecords}} total entries)</span>
            </p>
          </div>
          <div *ngIf="currentRecords > currentPageSize" class="col-sm-6 d-flex justify-content-sm-end pagination-container p-0">
            <ngb-pagination class="pagination" size="sm" (pageChange)="pageChange($event)" [collectionSize]="currentRecords" [pageSize]="currentPageSize" [(page)]="currentPage" maxSize="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
              <ng-template ngbPaginationPrevious>Prev</ng-template>
              <ng-template ngbPaginationNext>Next</ng-template>
              <ng-template ngbPaginationFirst>First</ng-template>
              <ng-template ngbPaginationLast>Last</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
