@import '../../../styles';
.row {
  i {
    font-style: 0.75rem;
  }
  margin: 1rem 0px;
  .form-control-sm {
    padding: 0.2rem 0.3rem;
  }
  .text-small {
    font-size: 12.8px;
  }
}
.pagination-container {
  overflow-x: auto;
}
table{
  table-layout: auto;
  thead{
    th {
      cursor: pointer;
      position: relative;
      word-wrap: break-word;
    }
  }
  td {
    word-wrap: break-word;
    .delete {
      color: #cc2127;
    }
    .edit {
      color: #1da1f2;
    }
    .reset {
      color: #424964;
    }
    .delete, .edit, .reset {
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
  .btn {
    border: none;
  }
  .hand-cursor {
    cursor: pointer;
  }
  .sort-icon {
    position: absolute;
  }
}
.pagination {
  .active {
    background-color: blue;
    color: white;
  }
}
