<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-profile nav-item">
        <div class="nav-link">
          <div class="user-wrapper">
            <div class="profile-image">
              <a>
                <img src="assets/images/faces/profile/default-avatar.png" alt="profile image">
              </a>
            </div>
            <div class="text-wrapper">
              <p class="profile-name">{{currentUser?.first_name}} ({{currentUser?.english_name}}) {{currentUser?.last_name|uppercase}}</p>
              <div>
                <small class="designation text-muted">{{currentUser?.position}}</small>
                <span class="status-indicator online"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-inverse-info btn-block"routerLink="change-password">Change password</button>
            </div>
            <div class="col-12">
              <button (click)="logout()" class="btn btn-inverse-danger btn-block mt-2">Log out
                <i class="fas fa-sign-out-alt"></i>
              </button>
            </div>
          </div>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="data-tracking" routerLinkActive="active">
        <i class="menu-icon mdi mdi-desktop-mac"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active">
        <i class="menu-icon mdi mdi-information-outline"></i>
        <span class="menu-title">Personal Information</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="menu-icon mdi mdi-checkbox-marked-outline" routerLinkActive="active"></i>
        <span class="menu-title">Voting</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="employee-list" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-list-numbers"></i>
        <span class="menu-title">Employee list</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active">
        <i class="menu-icon mdi mdi-trophy-outline"></i>
        <span class="menu-title">Awards</span>
      </a>
    </li>
  </ul>
</nav>
