<div class="card award">
  <div class="card-body">
    <div class="row">
      <div class="col-md-1 d-flex justify-content-center">
        <div title="Click on logo to upload new one" class="p-1">
          <img [src]="serverURL + awardLogoURL" (click)="openUploadingLogoModal()" alt="Logo" [ngClass]="awardLogoURL ? 'img-md rounded-circle' : 'img-md'">
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-1">
          <h5 class="award-title text-wrap">{{awardName}}</h5>
          <p class="text-wrap">{{dateStart | date: 'shortDate'}} - {{dateEnd | date: 'shortDate'}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="information overflow-auto p-1 m-1 m-md-0">
          <h6 class="text-wrap">Nominees:</h6>
          <ng-container *ngIf="nominees">
            <p *ngFor="let nominee of nominees">{{nominee.nominee_name.english_name}}</p>
          </ng-container>
          <p *ngIf="nominee">{{nominee.nominee_name.english_name}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="information p-1 m-1 m-md-0">
          <h6>Total prize:</h6>
          <p>{{prize}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="d-flex flex-wrap flex-column">
          <button *ngIf="isAdmin" class="btn btn-edit btn-block btn-rounded">Edit</button>
          <button class="btn btn-detail btn-block btn-rounded" routerLink="/home/award-detail/{{awardId}}">Detail</button>
        </div>
      </div>
    </div>
  </div>
</div>
