<div class="card award">
  <div class="card-body">
    <div class="row">
      <div class="col-md-1 d-flex justify-content-center">
        <div title="Click on logo to upload new one" class="p-1">
          <img [src]="serverURL + awardLogoURL" (click)="openUploadingLogoModal()" alt="Logo" [ngClass]="awardLogoURL ? 'img-md rounded-circle' : 'img-md'">
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-1 award-title-container">
          <h5 class="award-title text-wrap">{{awardName}}</h5>
          <p class="text-wrap date-time text-small">Start: {{dateStart | dateTimeFormat}}</p>
          <p class="text-wrap date-time text-small">End: {{dateEnd | dateTimeFormat}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="p-1 m-1 m-md-0 information status">
          <h6>Status:</h6>
          <!--[ngClass]="{'badge-info': status === 0, 'badge-warning': status === 1, 'badge-success': status === 2}"-->
          <span class="badge-pill" [ngClass]="statusCssClass">
            {{statusName}}
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="information p-1 m-1 m-md-0">
          <h6>Total prize:</h6>
          <p>{{prize}}</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="d-flex flex-wrap flex-column">
          <button *ngIf="isAdmin" class="btn btn-primary btn-rounded m-1">Edit</button>
          <button class="btn btn-detail btn-outline-primary btn-rounded m-1" routerLink="/home/award-detail/{{awardId}}">Detail</button>
        </div>
      </div>
    </div>
  </div>
</div>
