.custom {
  width: 100%;
  .award-description {
    height: 200px;
    padding: 1rem;
    overflow: auto;
  }
}
.table-responsive {
  overflow-y: auto;
  table {
    table-layout: auto;
    thead {
      th {
        //border-bottom: 1px solid lightgray !important;
        //border-bottom-width: 2px !important;
        position: relative;
        word-wrap: break-word;
        .sort-icon {
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
// for the slide
:host ::ng-deep .owl-carousel {
  .owl-item {
    .avatar {
      position: relative;
      @media (max-width: 767px) {
        height: 160px;
      }
      @media (min-width: 768px) {
        height: 200px;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
      .winner-info {
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0;
        background: rgb(0,100,30);
        background: linear-gradient(50deg, rgba(0,100,30,1) 0%, rgba(0,100,0,1) 16%, rgba(44,122,58,1) 42%, rgba(255,255,255,0.37298669467787116) 100%);
        opacity: 0.9;
        padding: 0.3rem 0.5rem;
      }
    }
  }
}

