<div class="card shadow">
  <div class="card-body">
    <div class="row">
      <div class="card custom">
        <div style="border-bottom: none" class="card-header">
          <div class="row">
            <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
              <div class="badge-info badge-pill">
                {{awardDetail?.year}}
              </div>
              <h4 class="mb-0 ml-2">{{awardDetail?.awardType.name | uppercase}}</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
              <button *ngIf="isAdmin" class="btn btn-success btn-rounded mr-2">EDIT</button>
              <button class="btn btn-outline-success btn-rounded ml-2" routerLink="/home/award-list" >BACK TO LIST</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="award-description">
            <h6 class="text-success">Nominees:</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="card-title">Past winner</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Year</th>
                <th>Winner</th>
                <th>% of total votes</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pastWinner of pastWinnerList">
              <td>{{pastWinner?.year}}</td>
              <td>
                {{
                (pastWinner.winner != null)? pastWinner?.winner?.winner_name?.first_name
                  + ' (' + pastWinner?.winner?.winner_name?.english_name
                  + ') ' + pastWinner?.winner?.winner_name?.last_name.toUpperCase():''
                }}
              </td>
              <td>{{pastWinner?.winner?.percent}}</td>
              <td><a class="small">View Result</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
