<div class="modal-header">
  <h4 class="modal-title">Change password</h4>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" [formGroup]="changingPasswordForm">
    <div class="form-group">
      <label>Current password</label>
      <input type="password" class="form-control" formControlName="currentPassword">
      <small class="text-small text-danger" *ngIf="changingPasswordForm.controls['currentPassword'].touched && changingPasswordForm.controls['currentPassword'].errors?.required">
        Current password is required
      </small>
      <small class="text-small text-danger" *ngIf="changingPasswordForm.controls['currentPassword'].errors?.minlength!=null">
        The password's minimum length is 8
      </small>
    </div>
    <div class="form-group">
      <label>New password</label>
      <input type="password" class="form-control" formControlName="newPassword">
      <small class="text-small text-danger" *ngIf="changingPasswordForm.controls['newPassword'].touched && changingPasswordForm.controls['newPassword'].errors?.required">
        Current password is required
      </small>
      <small class="text-small text-danger" *ngIf="changingPasswordForm.controls['newPassword'].errors?.minlength!=null">
        The password's minimum length is 8
      </small>
    </div>
    <div class="form-group">
      <label>Confirm new password</label>
      <input type="password" class="form-control" formControlName="confirmNewPassword">
      <small class="text-small text-danger" *ngIf="changingPasswordForm.controls['confirmNewPassword'].touched && changingPasswordForm.controls['confirmNewPassword'].errors?.required">
        Please confirm your new password
      </small>
      <small class="text-small text-left text-danger" *ngIf="changingPasswordForm.controls['confirmNewPassword'].errors?.mustMatch">
        Your new password is not match the confirmation
      </small>
    </div>
    <div class="row d-flex flex-wrap justify-content-center">
      <button type="submit" [disabled]="changingPasswordForm.invalid" class="btn btn-info btn-rounded m-2">Save</button>
      <button type="button" (click)="activeModal.dismiss('Dimiss changing password!')" class="btn btn-rounded btn-danger m-2">Cancel</button>
    </div>
  </form>
</div>
