<div class="modal-header justify-content-center">
  <h4 class="display-4">Change password</h4>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" [formGroup]="changingPasswordForm">
    <div class="form-group">
      <label>Current password</label>
      <input type="password" class="form-control" formControlName="currentPassword">
      <small class="text-small text-danger" *ngIf="changingPasswordForm.controls['currentPassword'].touched && changingPasswordForm.controls['currentPassword'].errors?.required">
        Current password is required
      </small>
    </div>
    <div class="form-group">
      <label>New password</label>
      <input type="password" class="form-control" formControlName="newPassword">
      <small class="text-small text-danger" *ngIf="changingPasswordForm.controls['newPassword'].touched && changingPasswordForm.controls['newPassword'].errors?.required">
        Current password is required
      </small>
    </div>
    <div class="form-group">
      <label>Confirm new password</label>
      <input type="password" class="form-control" formControlName="confirmNewPassword">
      <small class="text-small text-danger" *ngIf="changingPasswordForm.controls['confirmNewPassword'].touched && changingPasswordForm.controls['confirmNewPassword'].errors?.required">
        Please confirm your new password
      </small>
      <small class="text-small text-left text-danger" *ngIf="changingPasswordForm.controls['confirmNewPassword'].errors?.mustMatch">
        Your new password is not match the confirmation
      </small>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
      <button type="submit" [disabled]="changingPasswordForm.invalid" class="btn btn-primary btn-rounded m-sm-3 m-1">SAVE</button>
      <button class="btn btn-outline-primary btn-rounded m-sm-3 m-1" (click)="activeModal.dismiss('Dimiss changing password!')">CANCEL</button>
    </div>
  </form>
</div>
