.row {
  background-color: #fff;
  .card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
  }
}
.modal-body {
  .btn {
    width: 104px!important;
  }
}
