<div class="modal-header">
    <h4 class="modal-title">Editing {{!userProfile?title : userProfile?.first_name + ' (' + userProfile?.english_name + ') ' +userProfile?.last_name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="updateUserProfile()" *ngIf="editingUser" [formGroup]="editingUser">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label">Position</label>
            <select class="form-control" formControlName="id_role">
              <option [selected]="role.id == userProfile?.role?.id" *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Team</label>
            <select class="form-control" formControlName="id_team">
              <option [selected]="userProfile.team == null" [ngValue]="null">**No team**</option>
              <option *ngFor="let team of teams" [ngValue]="team.id" [selected]="team.id == userProfile?.team?.id">{{team.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-form-label">First name</label>
            <input type="text" class="form-control" formControlName="first_name">
          </div>
          <div class="form-group">
            <label class="col-form-label">Last name</label>
            <input type="text" class="form-control" formControlName="last_name">
          </div>
          <div class="form-group">
            <label class="col-form-label">English name</label>
            <input type="text" class="form-control" formControlName="english_name">
          </div>
          <div class="form-group">
            <label class="col-form-label">Other</label>
            <input type="text" class="form-control" formControlName="other">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="custom-switch custom-control p-0">
            <input type="checkbox" [checked]="userProfile?.is_active" class="custom-control-input" id="activeSwitch" formControlName="is_active">
            <label class="custom-control-label" for="activeSwitch">Active</label>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-wrap">
        <button type="submit" class="btn btn-info btn-rounded m-sm-3 m-1">Save</button>
        <button class="btn btn-dark btn-rounded m-sm-3 m-1" (click)="activeModal.close('Close!')">Cancel</button>
      </div>
    </form>
  </div>
