
<div class="card shadow">
  <div class="card-header">
        <h3>{{isAdmin ? 'EMPLOYEE MANAGEMENT' : 'EMPLOYEE LIST'}}</h3>
  </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 d-flex justify-content-center justify-content-md-start mb-2 mb-sm-0">
            <div class="form-group">
            <label class="col-form-label">
                  Show
                  <select class="form-control rounded-pill form-control-sm" (change)="onChangeItemsPerPage()" [(ngModel)]="currentPageSize">
                    <option *ngFor="let itemsPerPage of itemsPerPageArr" [value]="itemsPerPage" >{{itemsPerPage}}</option>
                  </select>
                  entries
                </label>
            </div>
          </div>
          <div class="col-sm-6 d-flex justify-content-center justify-content-md-end mt-2 mt-sm-0">
            <button class="btn btn-rounded btn-info mr-1" *ngIf="isAdmin" (click)="openCreatingModal()" title="Create new user"><i class="fas fa-user-plus"></i> <span class="text-small d-none d-xl-inline-block">New</span></button>
            <div class="form-group">
                <input type="text" id="search" class="form-control rounded-pill" (keyup)="searchOnText()" [(ngModel)]="currentSearchText" placeholder="Search...">
                <i class="fas fa-search search-icon"></i>
              </div>
          </div>
        </div>


<!--        table-->
        <div *ngIf="!error" class="row">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th (click)="sortOnColumn('first_name','user')" class="hand-cursor" scope="col" title="Click column's name to change sort direction">Name
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'first_name')" [ngClass]="currentSortedType == 'ASC'?'fas fa-sort-up':'fas fa-sort-down'"></i>  <!--Change icon by sort direction-->
                  </th>
                  <th *ngIf="isAdmin" scope="col">Status</th>
                  <th (click)="sortOnColumn('name','role')" class="hand-cursor" title="Click column's name to change sort direction" scope="col">Position
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'name')||!(currentSortedTable == 'role')" [ngClass]="currentSortedType == 'ASC'?'fas fa-sort-up':'fas fa-sort-down'"></i>  <!--Change icon-->
                  </th>
                  <th (click)="sortOnColumn('name','team')" class="hand-cursor" title="Click column's name to change sort direction" scope="col">Team
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'name')||!(currentSortedTable == 'team')" [ngClass]="currentSortedType == 'ASC'?'fas fa-sort-up':'fas fa-sort-down'"></i>  <!--Change icon-->
                  </th>
                  <th (click)="sortOnColumn('email','user')" class="hand-cursor" title="Click column's name to change sort direction" scope="col">Email address
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'email')" [ngClass]="currentSortedType == 'ASC'?'fas fa-sort-up':'fas fa-sort-down'"></i>  <!--Change icon-->
                  </th>
                  <th (click)="sortOnColumn('english_name','user')" class="hand-cursor" title="Click column's name to change sort direction" scope="col">English name
                    <i class="sort-icon" [hidden]="!(currentSortedColumn == 'english_name')" [ngClass]="currentSortedType == 'ASC'?'fas fa-sort-up':'fas fa-sort-down'"></i>  <!--Change icon-->
                  </th>
                  <th *ngIf="isAdmin" class="text-center" align="center" scope="col">Action</th>
                </tr>
                </thead>
                <tbody> <!--There's result from search operator-->
                <tr *ngFor="let user of usersList">
                  <td *ngIf="user?.first_name?.toUpperCase() === 'ADMIN'">Admin</td>
                  <td *ngIf="user?.first_name?.toUpperCase() !== 'ADMIN'">{{user.first_name}} ({{user.english_name}}) {{user.last_name|uppercase}}</td>
                  <td *ngIf="isAdmin">
                    <span class="badge-pill" [ngClass]="user?.is_active ? 'badge-info' : 'badge-danger' ">
                      {{user?.is_active ? 'Active' : 'Inactive'}}
                    </span>
                  </td>
                  <td>{{user.role?.name}}</td>
                  <td>{{user.team?.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.english_name}}</td>
                  <td *ngIf="isAdmin">
                    <a (click)="openEditingModal(user.id)" title="Edit this user" class="action-btn edit"><i class="fas fa-edit"></i></a>
                    <a (click)="deleteUser(user.id)" title="Delete this user" class="action-btn delete"><i class="fas fa-trash"></i></a>
                    <a (click)="resetPassword(user.id)" title="Reset password" class="action-btn reset"><i class="fas fa-undo"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        <div class="row" *ngIf="error">
          <div class="col-12">
            <!--If search result is empty-->
            <ngb-alert (close)="error = null; currentSearchText = ''" type="danger">
              No record matched!
            </ngb-alert>
          </div>
        </div>
        <!--Pagination -->
        <div *ngIf="!error" class="row">
          <div class="col-sm-6 d-flex justify-content-sm-start p-0">
            <p class="text-small" *ngIf="currentRecords > currentPageSize">Showing 1 to {{currentPageSize}} of {{currentRecords}}
              <span *ngIf="totalRecords == currentRecords"> total entries</span>
              <span *ngIf="totalRecords>currentRecords"> entries (filtered from {{totalRecords}} total entries)</span>
          </p>
            <p class="text-small" *ngIf="currentRecords <= currentPageSize">Showing {{currentRecords}} of {{currentRecords}}
              <span *ngIf="totalRecords == currentRecords"> total entries</span>
              <span *ngIf="totalRecords>currentRecords"> (filtered from {{totalRecords}} total entries)</span>
            </p>
          </div>
          <div *ngIf="currentRecords > currentPageSize" class="col-sm-6 d-flex justify-content-sm-end p-0">
            <ngb-pagination class="pagination" size="sm"
                            (pageChange)="pageChange($event)"
                            [collectionSize]="currentRecords"
                            [pageSize]="currentPageSize"
                            [(page)]="currentPage" maxSize="5"
                            [rotate]="true"
                            [ellipses]="false"
                            class="pagination-rounded"
                            [boundaryLinks]="true">
              <ng-template ngbPaginationPrevious>Prev</ng-template>
              <ng-template ngbPaginationNext>Next</ng-template>
              <ng-template ngbPaginationFirst>First</ng-template>
              <ng-template ngbPaginationLast>Last</ng-template>
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
