<div class="card award">
  <div class="card-body">
    <div class="row">
      <div class="col-md-1 d-flex justify-content-center">
        <div class="p-1">
          <img src="http://localhost:4000/uploads/avatars/undefined_2019-04-22T06:04:51.801Z_1.png" class="img-md rounded-circle">
        </div>
      </div>
      <div class="col-md-3">
        <div class="p-1">
          <h5 class="award-title">{{'Employee of the year'}}</h5>
          <p>2018.12.26 - 2019.01.09</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="information p-1 m-1 m-md-0">
          <h6 class="text-wrap">Nominees:</h6>
          <p>All employees</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="information p-1 m-1 m-md-0">
          <h6>Total prize</h6>
          <p>VND 10,000,000 (in cash)</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="d-flex flex-wrap flex-column">
          <button class="btn btn-edit btn-block btn-rounded">Edit</button>
          <button class="btn btn-detail btn-block btn-rounded">Detail</button>
        </div>
      </div>
    </div>
  </div>
</div>
