@import '../../../styles';
.row {
  margin: 10px 0px;
  .form-control-sm {
    padding: 0.2rem 0.3rem;
  }
}
.pagination-container {
  overflow-x: auto;
}
table{
  thead {
    background-color: $blue-teal-gradient;;
  }
  .btn {
    border: none;
  }
}
