@import '../../../styles';
.row {
  margin: 10px 0px;
  .form-control-sm {
    padding: 0.2rem 0.3rem;
  }
}
.pagination-container {
  overflow-x: auto;
}
table{
  table-layout: auto;
  width: 100%;
  thead {
    background-color: $blue-teal-gradient;
  }
  th {
    position: relative;
  }
  td {
    word-wrap: break-word;
  }
  .btn {
    border: none;
  }
  .hand-cursor {
    cursor: pointer;
  }
  .sort-icon {
    position: absolute;
    right: 10%;
  }
}
